.home1 {
    margin-left: 50px;
    margin-right: 50px;
}

.kenteken-form {
    float: none;
    display: block;
    margin: 0 auto;
    width: 300px;
}

.kenteken-form .kenteken-input {
    background: #F0B504 none repeat scroll 0 0 !important;
    border: 2px solid #000 !important;
    border-radius: 5px;
    min-height: 55px;
    padding: 6px 4px 6px 38px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 300px;
}

.kenteken-form .kenteken-submit-btn {
    float: none;
    display: block;
    margin: 0 auto;
}

.goods-attached-photo {
    max-width: 200px;
}

.home-login-btn {
    float: right;
}

.buy-goods-container .buy-goods-left {
     display: inline-block;
 }

.buy-goods-container .buy-goods-right {
    display: block;
}

.buy-goods-container .buy-goods-bottom-left {
    display: block;
}

.buy-goods-container .buy-goods-bottom-right {
    display: inline-block;
    float: right;
}

.buy-goods-photo {
    max-width: 250px;
}

.image-logo-home {
    width: 300px;
}